<head>
</head>
<body>
	<div class="row">
		<form action="/route" method="GET">
			<input type="text" name="origin" placeholder="Origin"/>
			<input type="text" name="destination" placeholder="Destination"/>
			<button type="submit">Submit</button>
		</form>
	</div>
</body>