<head>
</head>
<body>
	<form action="/route" method="POST">
		<input type="text" name="origin" placeholder="Origin"/>
		<input type="text" name="destination" placeholder="Destination"/>
		<button type="submit">Submit</button>
	</form>
</body>